<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>385022589519-mnfr3vvrt4qkra2v6lfsql103bej9a8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.385022589519-mnfr3vvrt4qkra2v6lfsql103bej9a8v</string>
	<key>API_KEY</key>
	<string>AIzaSyDwHo9UkZogIn1uxpb47mfqPjxaDP_fsZo</string>
	<key>GCM_SENDER_ID</key>
	<string>385022589519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crushingblue.SlayMeBaby</string>
	<key>PROJECT_ID</key>
	<string>backend-slaymebaby</string>
	<key>STORAGE_BUCKET</key>
	<string>backend-slaymebaby.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:385022589519:ios:797b01c7dd62cc7b</string>
	<key>DATABASE_URL</key>
	<string>https://backend-slaymebaby.firebaseio.com</string>
</dict>
</plist>